/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .header__inner {
        position: relative;
    }

    .header__inner .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        font-size: 2rem;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero__inner {
        flex-direction: column;
        row-gap: 50px;
    }

    .hero__content {
        text-align: center;
    }

    .hero__desc {
        margin: 24px auto;
        width: 70%;
    }

    .hero__row {
        justify-content: center;
    }
    .about__inner {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .about__heading {
        width: 100%;
    }

    .about__desc {
        width: 100%;
    }

    .about__checklist {
        justify-content: center;
    }

    .about__media {
        margin: 0 auto;
    }

    .about__img-wrap {
        margin-left: 92px;
    }

    .about__desc-bottom {
        width: 100%;
    }

    .tab {
        text-align: center;
    }

    .tab__content-desc {
        width: 100%;
    }

    .about__media:nth-of-type(2) {
        order: 1;
    }

    .about__img-wrap-bottom {
        margin-left: 0;
    }

    .service__body {
        grid-template-columns: 1fr 1fr;
    }

    .service__column:nth-of-type(2) {
        order: 1;
        grid-column-end: span 2;
    }

    .service__column {
        margin: 0 auto;
    }

    .service__media {
        display: none;
    }

    .pricing-item {
        padding: 30px 26px;
    }

    .review__inner {
        column-gap: 20px;
    }

    .review-item {
        column-gap: 30px;
    }

    .review-item__media {
        width: 34%;
    }

    .review-item__quote {
        width: 100%;
        font-size: 1.5rem;
    }

    .blog__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog__info {
        width: 100%;
        margin-top: 24px;
    }

    .footer__row {
        margin-left: 30px;
        gap: 58px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .header-action {
        display: none;
    }

    .hero__media {
        width: 100%;
    }

    .hero__img-wrap {
        height: auto;
    }

    .hero__list {
        left: -22px;
    }

    .hero__heading {
        font-size: 6rem;
    }

    .hero__desc {
        width: 100%;
    }

    .about__inner {
        row-gap: 100px;
    }

    .about__checklist {
        grid-template-columns: 1fr;
    }

    .about__media {
        display: none;
    }

    .tab__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .tab__list::after {
        margin-bottom: -20px;
    }

    .service {
        margin-top: 100px;
    }

    .service__body {
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 24px;
    }

    .service__column:nth-child(2) {
        order: 1;
        grid-column-end: span 1;
    }

    .staff__list {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .pricing__desc {
        width: 100%;
        font-size: 1.5rem;
    }

    .pricing__switch-wrap {
        margin-top: 50px;
    }

    .pricing__sale-off {
        top: -40px;
        right: -40px;
    }

    .pricing__list {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .review__inner {
        column-gap: 10px;
    }

    .review-item {
        display: block;
    }

    .review-item__media {
        display: none;
    }

    .review__control {
        width: 32px;
        height: 32px;
    }

    .blog__list {
        grid-template-columns: 1fr;
        row-gap: 70px;
    }

    .footer {
        background: transparent;
        background: linear-gradient(to bottom, #fff6ed 43%, transparent 43%);
    }

    .footer__inner {
        width: 100%;
        display: block;
    }

    .footer__left {
        width: 100%;
    }

    .subscribe-form {
        margin: 35px auto 68px;
    }

    .footer__left .footer__heading {
        text-align: center;
    }

    .social-list {
        column-gap: 40px;
        justify-content: center;
    }

    .footer__right {
        width: 100%;
    }

    .footer__row {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        gap: 42px;
    }

    .footer__copyright {
        text-align: center;
        margin-left: 0;
    }
}
